@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
: :root {
    --bg-color: #FB2576
    --primary-color: #000000
    --secondary-color:

}